 .modal {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 10000;

 }

 .modal-content {
   background: white;
   padding: 20px 30px;
   border-radius: 8px;
   max-width: 400px;
   width: 90%;
   text-align: center;
   background-color: var(--bg-color);
   color: var(--text-color);
 }

 .buttons {
   margin-top: 20px;
   display: flex;
   justify-content: flex-end;
   gap: 10px;
 }

 .btn {
   padding: 8px 14px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-weight: 600;
 }

 .btn-cancel {
   background-color: #ccc;
   color: #333;
 }

 .btn-confirm {
   background-color: red;
   color: white;
 }

 .btn-confirm:hover {
   filter: brightness(85%);
 }